*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game{
    width: 90vw;
    height: 70vh;
    max-width: 450px;
    background-color: rgb(51, 61, 70);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    box-shadow: 2px 2px 10px rgba(92, 184, 245, 0.8),-2px -2px 10px rgba(217, 68, 195, 0.8);
    border-radius: 15px;
}
.hand{
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    font-size: 80px;
    position: relative;
}
.you-div{
    text-shadow: 2px 2px 10px rgba(92, 184, 245, 0.8),-2px -2px 10px rgba(217, 68, 195, 0.8);
}
.computer-div{
    text-shadow: 2px 2px 10px rgba(65, 169, 221, 0.8),-2px -2px 10px rgba(205, 57, 197, 0.8);
}
.choices{
    width: 100%;
    height: 20%;
    font-size: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.choice{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(51, 61, 70);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.8),-2px -2px 10px rgba(0,0,0,0.8);
    font-size: 20px;
    transition: all 0.3s;
    cursor: pointer;
    text-shadow: 2px 2px 10px rgba(92, 184, 245, 0.8),-2px -2px 10px rgba(217, 68, 195, 0.8);
}
.choice:hover{
    box-shadow: 2px 2px 10px rgba(65, 121, 180, 0.8),-2px -2px 10px rgba(139, 66, 127, 0.8);
}
.result{
    width: 70%;
    height: 10%;
    background-color: transparent;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.win{
    box-shadow:inset 2px 2px 20px rgba(24, 182, 53, 0.8), inset -2px -2px 20px rgba(54, 136, 43, 0.8);
    color:rgba(54, 136, 43, 0.8);
}
.lose{
    box-shadow:inset 2px 2px 20px rgba(216, 59, 7, 0.8), inset -2px -2px 20px rgba(210, 54, 23, 0.8);
    color:rgba(192, 55, 21, 0.8);
}
.draw{
    box-shadow:inset 2px 2px 20px rgba(48, 98, 178, 0.8), inset -2px -2px 20px rgba(50, 118, 178, 0.8);
    color:rgba(50, 118, 178, 0.8);
}
.heading{
    height: 15%;
    width: 80%;
    position: absolute;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    top: 60px; 
}
.you-heading,.computer-heading{
    width: 30%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.8),-2px -2px 10px rgba(0,0,0,0.8);
}
.you-heading{
    color: rgb(136, 216, 71);
}
.computer-heading{
    color: rgb(203, 45, 17);
}
@keyframes shake {
    0%,50%,100%{
        transform: translate(0px);
    }
    25%{
        transform: translate(20px);
    }
    75%{
        transform: translate(-20px);
    }

}